[Unit]
Description=Monitor ethernet cable insertion
After=systemd-udev-settle.service
Wants=systemd-udev-settle.service

[Service]
Type=simple
User=root
ExecStart=/bin/bash /opt/ugripper/auto_calibration/monitor_network.sh
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
