[Unit]
Description=UMI Safe NTP Sync (timedatectl)
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/opt/ugripper/time_sync/safe_ntp_sync.sh
TimeoutStartSec=120
RemainAfterExit=false

[Install]
WantedBy=multi-user.target
