[Unit]
Description=Ugripper Recorder
After=network.target local-fs.target

[Service]
Type=simple
User=radxa
WorkingDirectory=/opt/ugripper

Environment="PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"
ExecStart=/bin/bash -lc '/opt/ugripper/run_record.sh'

Restart=always
RestartSec=3

StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target